node_modules
.pnp
.pnp.*
.yarn
npm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.git
.gitignore
.vscode
.idea
*.log
*.md
.DS_Store
.env*
.vercel
.next
out
dist
build
coverage
storybook-static
opencode.json
tsconfig.tsbuildinfo
